<section ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="SketchOff" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
            </div>
        </div>
        <br>
        <div class="row">
            <p class="lead">
                Challenge your friends, family, coworkers <span style="font-style:italic;font-size:14px;vertical-align:super;color:#C2C2C2">(maybe not)</span> to draw a series of kooky objects!
            </p>
        </div>
        <div ng-if="authentication.user == false" class="row">
            <p>
                <a ui-sref="authentication.signup" class="btn btn-primary btn-lg" href="#" target="_blank">Create an Account!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary btn-lg" href="" ng-show="authentication.user" ng-click="joinPublicGame()">Join Public Game</a>
    </div>
    <div>
        <h2>Lorem Ipsum!</h2>
        <p>Aliquam auctor nibh ullamcorper, auctor nibh ac, varius nunc.</p>
        <p>Ut eu orci at nibh mollis rutrum.</p>
        <ul>
            <li>
                Morbi finibus enim vel dolor faucibus, eget lacinia magna posuere.
            </li>
            <li>
               Ut eleifend arcu at metus posuere gravida.
            </li>
            <li>
                Vestibulum egestas enim eget leo dignissim laoreet ut sed ligula.
            </li>
            <li>
                Cras quis tortor vel eros dictum venenatis sagittis et mauris.
            </li>
            <li>
                Nam malesuada elit eu arcu dignissim imperdiet.
            </li>
        </ul>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-3">
            <h2><strong>C</strong>ategory 1</h2>
            <p>Morbi mi nunc, consectetur sit amet purus eu, placerat iaculis massa. Cras eget lectus non neque convallis convallis sed at elit. Fusce luctus sollicitudin lorem id dictum.</p>
        </div>
        <div class="col-md-3">
            <h2><strong>C</strong>ategory 2</h2>
            <p>Aliquam erat volutpat. Etiam dignissim pellentesque quam vel hendrerit. Phasellus congue dictum euismod. Phasellus a dolor dictum, venenatis nisl ut, egestas elit. Donec pulvinar ac felis semper dignissim.</p>
        </div>
        <div class="col-md-3">
            <h2><strong>C</strong>ategory 3</h2>
            <p> Sed vel justo et justo consectetur iaculis. Praesent ac tortor elementum erat condimentum sagittis rutrum quis odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="col-md-3">
            <h2><strong>C</strong>ategory 4</h2>
            <p>Vivamus libero leo, ultrices quis arcu id, vestibulum facilisis dui. Nunc vitae varius urna. Nullam ut tristique nibh. Vestibulum vitae enim molestie eros sagittis dapibus.</p>
        </div>
    </div>
    <div class="well">
        <h2>Author Comments</h2>
        <p>
            <em>Something something</em> thanks for checking out the game <em>something something</em>
            <!-- Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
            <ul>
                <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
                </li>
                <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
        </li>
                <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
                </li>
                <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
                </li>
                <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
                </li>
                <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
                </li>
            </ul> -->
        </p>
    </div>
</section>
