<section ng-controller="ProfileController" ng-init="findOne()">
    <div ng-if="Profile.$resolved && (Profile.$promise.$$state.status == 1)">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="padding-bottom:20px; position:relative;">
                    <img style="float:left; margin-right:25px" ng-src="{{Profile.profileImageURL}}" alt="{{Profile.displayName}}" class="img-thumbnail user-profile-picture">
                    <h1><span ng-bind="Profile.username"></span><br><small><span ng-bind="Profile.displayName"></span></small></h1>
                    <div class="label label-info" style="font-size:16px"><span style="color:#FFD900"><b>XP</b>:</span> <span ng-bind="Profile.xp"></span></div>
                    <div style="margin-top:25px">
                        <div ng-switch on="friendReqButton">
                            <button ng-if="!Profile.isProfileUser && !inFriendsList()" ng-click="sendFriendRequestFromProfile()" style="float:right;" type="button" class="btn btn-primary btn-sm animate-switch" ng-switch-default>Send Friend Request</button>
                            <button ng-click="" style="float:right;" type="button" class="btn btn-success btn-sm animate-switch" ng-switch-when="sent" disabled>Friend Request Sent!</button>
                            <button ng-click="" style="float:right;" type="button" class="btn btn-warning btn-sm animate-switch" ng-switch-when="waiting" disabled>Already Sent Request!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h1><span ng-bind="Profile.username"></span>'s Friends</h1>
                <div class="list-group">
                    <div ng-repeat="friend in Profile.friends" class="list-group-item clearfix" ng-attr-id="friend_{{friend._id}}">
                        <span class="glyphicon glyphicon-user"></span>
                        <a ui-sref="profile.view({profileId: friend._id})">
                            <span style="margin-left: 15px" class="list-group-item-heading">
                                <span ng-bind="friend.username" style="font-size:16px;font-weight:600"></span>
                            </span>
                        </a>
                        <span style="font-size:12px;color:#B3B3B3;margin-left:10px">
                            <span ng-bind="friend.displayName"></span>
                        </span>
                        <span style="margin-left:10px" class="label label-info"><span style="font-size:12px;color:#FFD900;">XP:</span>
                        <span ng-bind="friend.xp"></span>
                        </span>
                        <span ng-if="Profile.isProfileUser" class="pull-right">
                        <button id="delbutton" class="btn btn-xs btn-danger" ng-click="deleteFriend({profileId:friend._id});">
                        <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        </span>
                    </div>
                </div>
                <div class="alert alert-warning text-center" style="width:100%" ng-if="Profile.$resolved && Profile.friends.length === 0">
                    <span ng-if="authentication.user.username === Profile.username">You don't have any friends yet!
                    <br>
                        <a href="">click here to find some</a>
                    </span>
                    <span ng-if="authentication.user.username !== Profile.username">{{Profile.displayName}} has no friends!</span>
                </div>
                <hr>
                <div ng-if="Profile.isProfileUser">
                    <h1>Pending Friend Requests</h1>
                    <div class="list-group">
                        <div ng-repeat="fr in Profile.pendingFriendRequests" ng-attr-id="req_{{fr.requestedBy._id}}" class="list-group-item clearfix">
                            <span class="glyphicon glyphicon-user" style="color:orange"></span>
                            <a ui-sref="profile.view({profileId: fr.requestedBy._id})">
                                <span style="margin-left: 15px" class="list-group-item-heading">
                                <span ng-bind="fr.requestedBy.username" style="font-size:16px;font-weight:600"></span>
                            </a>
                            <span style="font-size:12px;color:#B3B3B3;margin-left:10px">
                                    <span ng-bind="fr.requestedBy.displayName"></span>
                            </span>
                            <span style="margin-left:10px" class="label label-info"><span style="font-size:12px;color:#FFD900;">XP:</span>
                            <span ng-bind="fr.requestedBy.xp"></span>
                            </span>
                            <button type="button" style="margin-left:10px" class="btn btn-danger btn-xs pull-right" ng-click="ignoreFriendRequest({profileId:fr.requestedBy._id});">Ignore</button>
                            <button type="button" class="btn btn-success btn-xs pull-right" ng-click="acceptFriendRequest({profileId:fr.requestedBy._id});">Accept</button>
                        </div>
                        <div class="alert alert-warning text-center" ng-if="Profile.$resolved && Profile.pendingFriendRequests.length === 0">
                            You have no friend requests at the moment.
                        </div>
                    </div>
                    <hr>
                </div>
                <h1><span ng-bind="Profile.username"></span>'s Game History</h1>
                <div class="list-group">
                    <div ng-repeat="game in Profile.gameHistory | orderBy:'-created'" ng-attr-id="history_{{game._id}}" class="list-group-item clearfix">
                        <span ng-if="game.winner._id===Profile._id" class="circle-icon"><span class="glyphicon glyphicon-pencil" style="color:#00C800"></span></span>
                        <span ng-if="game.judge._id!==Profile._id && game.winner._id!==Profile._id" class="circle-icon"><span class="glyphicon glyphicon-pencil" style="color:#C80000"></span></span>
                        <span class="circle-icon" ng-if="game.judge._id===Profile._id"><span class="glyphicon glyphicon-bullhorn"></span></span>
                        <!-- Start super messy code -->
                        <span style="font-size:10px;margin-left: 15px;width:20%"><b>Game ID</b>: <a ui-sref="games.view({gameId: game.game_id})"><span ng-bind="game.game_id"></span></a><span style="margin-left:15px;width:40%"><b>Opponents</b>: <span ng-repeat="player in game.players" ng-if="player._id !== Profile._id"><a ng-bind="player.username" alt="player.displayName" ui-sref="profile.view({profileId: player._id})"></a> </span> <span style="margin-left:15px;width:20%"><b>Judge</b>: <a ng-bind="game.judge.username" alt="game.judge.displayName" ui-sref="profile.view({profileId: game.judge._id})"></a> <span style="margin-left:15px; width:20%;"><b>Winner</b>: <a ng-if="game.winner" ng-bind="game.winner.username" alt="game.winner.displayName" ui-sref="profile.view({profileId: game.winner._id})"></a><span ng-if="!game.winner">None</span><span style="margin-left:15px; width:20%;"><b>Date</b>: <span ng-bind="game.created.split('T')[0]"></span></span>
                        </span>
                        </span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="alert alert-warning text-center" ng-if="Profile.$resolved && Profile.gameHistory.length === 0">
                    <span ng-bind="Profile.displayName"></span> has no game history!
                </div>
                <div class="alert alert-warning text-center" ng-if="Profile.$resolved && (Profile.$promise.$$state.status == 2)">
                    <div ng-bind="Profile.$promise.$$state.value.data.message"></div>
                </div>
            </div>
</section>
