<section ng-controller="ProfileController" ng-init="findOne()">
    <div ng-if="Profile.$resolved && (Profile.$promise.$$state.status == 1)">
        <div style="padding-bottom:100px; position:relative;" class="page-header">
            <img style="float:left; margin-right:25px" ng-src="{{Profile.profileImageURL}}" alt="{{Profile.displayName}}" class="img-thumbnail user-profile-picture">
            <h1 ng-bind="Profile.displayName"></h1>
            <small class="list-group-item-text">
            <span ng-bind="Profile._id"></span><br>
            <span ng-bind="Profile.username"></span>
            <div ng-switch on="friendReqButton">
            <button ng-if="!Profile.isProfileUser && !inFriendsList()" ng-click="sendFriendRequestFromProfile()" style="float:right;" type="button" class="btn btn-primary btn-sm animate-switch" ng-switch-default>Send Friend Request</button>
            <button ng-click="" style="float:right;" type="button" class="btn btn-success btn-sm animate-switch" ng-switch-when="sent" disabled>Friend Request Sent!</button>
            <button ng-click="" style="float:right;" type="button" class="btn btn-warning btn-sm animate-switch" ng-switch-when="waiting" disabled>Already Sent Request!</button>
            </div>
        </small>
        </div>
        <h1>Friends of <span ng-bind="Profile.displayName"></span></h1>
        <!--   <div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item clearfix">
      <span class="glyphicon glyphicon-file"></span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <span class="pull-right">
        <button class="btn btn-xs btn-info">CCS</button>
        <button class="btn btn-xs btn-warning">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
    </a>
  </div>
</div> -->
        <div class="container">
            <div class="list-group">
                <a ng-repeat="friend in Profile.friends" class="list-group-item clearfix" ui-sref="profile.view({profileId: friend._id})">
                    <span class="glyphicon glyphicon-user"></span>
                    <span style="margin-left: 15px" class="list-group-item-heading">
                    <span ng-bind="friend.username" style="font-size:16px;font-weight:600"></span>
                    <span style="font-size:10px;color:#B3B3B3;margin-left:10px">
                    <span ng-bind="friend.displayName"></span>
                    </span>
                    </span>
                    <span ng-if="Profile.isProfileUser" class="pull-right">
                        <button id="delbutton" class="btn btn-xs btn-danger" href="#">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </a>
            </div>
        
        <div class="alert alert-warning text-center" ng-if="Profile.$resolved && Profile.friends.length === 0">
            <span ng-bind="Profile.displayName"></span> has no friends.
        </div>
        </div>
        <hr>
        <div ng-if="Profile.isProfileUser">
            <h1>Pending Friend Requests</h1>
            <div class="container">
            <div class="list-group">
            <div ng-repeat="fr in Profile.pendingFriendRequests" class="list-group-item">
                                    <span class="glyphicon glyphicon-user" style="color:orange"></span>

                <a ui-sref="profile.view({profileId:fr.requestedBy._id})"><span ng-bind="fr.requestedBy.displayName"></span></a>
                    
                    <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="ignoreFriendRequest({profileId:fr.requestedBy._id}); $event.stopPropagation();">Ignore</button>
                    <button type="button" class="btn btn-success btn-sm pull-right" ng-click="acceptFriendRequest({profileId:fr.requestedBy._id}); $event.stopPropagation();">Accept</button>
                </div>
                <div class="alert alert-warning text-center" ng-if="Profile.$resolved && Profile.pendingFriendRequests.length === 0">
                    You have no friend requests at the moment.
                </div>
            </div>
            </div>
        </div>
        <div class="alert alert-warning text-center" ng-if="Profile.$resolved && (Profile.$promise.$$state.status == 2)">
            <div ng-bind="Profile.$promise.$$state.value.data.message"></div>
        </div>
</section>
