<section ng-controller="GamesController">
    <h1>Welcome To The Game Room</h1>
    <h4>Game Room ID: {{GameRoom._id}}</h4>
    <h4>Players: {{GameRoom.players}}</h4>

    <div id="d">
      <canvas width="640" height="480" class="sketchpad" id="canvas" drawing-player>
      	Your browser does not support HTML5 Canvas
      </canvas>
      <canvas width="640" height="480" class="tempOverlay" id="canvasTempLayer" drawing-player>
      	Your browser does not support HTML5 Canvas
      </canvas>
    </div>
</section>
