<!DOCTYPE html>
<html>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="PrivateGamesController">
    <h1>Welcome To The Private Room Lobby</h1>
    <h3><style="color: red">Lobby Info</h3>
    <h4>ID: <i>{{GameRoom._id}}</i></h4>
    <h4>Current players: <i>{{GameRoom.players}}</i></h4>
    <h4>State: <i>{{GameRoom.state}}</i></h4>


<table>
  <tr>
    <th>Connected Players</th>
  </tr>

  <tr ng-repeat="player in GameRoom.players">
    <td>{{ player }} </td>
  </tr>
</table>
  <h4>Warning, Do not start the game with only one player in the lobby</h4>
  <a class="btn btn-primary btn-lg" href=""  ng-click="invitePlayers()">Invite Players</a>
  <a class="btn btn-primary btn-lg" href=""  ng-click="startGame()">Start Game</a>
</div>

</body>
</html>

