<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 checkbox">
	<label><input type="checkbox" value="">Show Flagged Users Only</label>
      </div>
      <div class="col-md-4 form-group">
	Sort Users by: 
	<select>
	  <option>Username</option>
	  <option>First Name</option>
	  <option>Last Name</option>
	  <option>Date Created</option>
	  <option>Number of Flags</option>
	  <option>Most Recent Flags</option>
	</select>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
